POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_UID=50000

DB_HOST=host.docker.internal
DB_PORT=5433
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
